<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-button color="warning" size="small" [routerLink]="['/login']">Login</ion-button>
    <ion-title>REGISTRARSE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="page-background ">
    <ion-card>
      <ion-img src="assets/icon/duocuc.png">
      </ion-img>
    </ion-card>

    <ion-card>
      <div class="centrado">
        <ion-item class="fondo input ion-margin-top ion-margin-start ion-margin-end" lines="none">
          <label position="floating">Ingresar correo</label>
          <ion-input [(ngModel)]="usuario" type="usuario"></ion-input>
        </ion-item>
         
        <ion-item class="fondo input ion-margin-top ion-margin-start ion-margin-end" lines="none">
          <label position="floating">Ingresar contraseña</label>
          <ion-input [(ngModel)]="password" type="password"></ion-input>
        </ion-item>
      </div>
      <div>
        <ion-button expand="block" class="degradado ion-margin-top ion-margin-start ion-margin-end" 
        (click)="registrar()">
        Registrarse
        </ion-button>
      </div>
    </ion-card>  
</ion-content>
