<ion-header [translucent]="true">
  <ion-toolbar color="warning">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home-adm"></ion-back-button>
    </ion-buttons>

    <ion-title>Perfil</ion-title>

    <ion-buttons slot="end" (click)="logout()">
      <ion-icon name="exit"></ion-icon>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed">

  <div class="card">
    <div class="header">
      <div class="avatar">
        <img src="https://as2.ftcdn.net/v2/jpg/03/49/49/79/1000_F_349497933_Ly4im8BDmHLaLzgyKg2f2yZOvJjBtlw5.jpg" alt="">
      </div>
    </div>
    <div class="card-body">
      <div class="user ion-text-center">
        <h3 class="nombre">Admin</h3>
        <h5 class="correo">asdas admin.cl</h5>


      </div>


    </div>
    <ion-list lines="none" inset="true">
      <ion-list-header>
        <ion-label>Registro</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-icon slot="start" name="calendar" color="Light"></ion-icon>

        <ion-label>
          <h2>Ingreso</h2>
          <p>Hace 10 min.</p>
        </ion-label>
      </ion-item>


    </ion-list>

  </div>

</ion-content>