ion-content {
    --background: linear-gradient(to right, #202ccc ,#e9de47);

}

.tabbar {
    justify-content: center;
}

.tab-button {
    max-width: 200px;
}


.bottom-tab-bar {
    --background: transparent;
    --border: 0;
}

ion-tab-button {
    --background: beige;
}

    ion-icon {
        height: 50px;
        width: 50px;
        font-size: 75px;
    }


.inner-left-btn {
    border-radius: 0 39% 0 0; // create the curved style on the left side of the center
}

.inner-right-btn {
    border-radius: 39% 0 0 0; // create the curved style on the right side of the center
}

.inner-center-btn {
    position: absolute;
    left: calc(50% - 35px); // position your button in the center
    bottom: 20px; // position your button slightly above the half bezel
    font-size: 70px;
    --background: transparent;
}