.centrado{
    display: grid;
    place-content: center;
}

img{
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 1rem;
}

.degradado {
  /*  --background: linear-gradient(15deg, rgb(249, 130, 243) 0%, rgb(8, 226, 250) 100%);
    --color: #111111;*/
}   


.custom-label {
    border-color: #acbecf;
  }